@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents SAT]

1. Fonts
2. Body and 
3. Home
	3.1 Home Slider
4. Header
	4.1 Top bar
	4.2 Main Menu
5. Menu
6. Features
7. CTA
8. Services
9. System
13. Footer
20. Info

******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'gill';
	src: url('fonts/gil.ttf')  format('truetype');
}
@font-face
{
	font-family: 'gill';
	src: url('fonts/gil_b.ttf')  format('truetype');
	font-weight: bold;
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'gill', sans-serif !important;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.92;
	font-weight: 400;
	color: #838383;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-align: justify;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 40px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'gill', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
/*   min-height: 700px;*/
    background: rgba(0, 0, 0,0.2);
}
.nopadding
{
	padding: 0px !important;
}

h4{
    color: #0d50a2;
    font-size: 23px;
 font-family: 'gill', sans-serif !important;
    margin-top: 12px;
    font-family: auto;
}
/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
	height: 100%;
}

/*********************************
4. Header
*********************************/


/*********************************
11. Logos
*********************************/


.logos
{
	width: 100%;
    padding-bottom: 70px;
    margin-top: 30px;
	
}
.clients_slider_container
{
	width: 100%;
	height: 100%;
}
.clients_slider
{
	cursor: pointer;
}
.clients_item
{
	
}
.clients_item img
{
	position: relative;
	margin: 0 auto;
	
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	top: 50%;
	transform: translateY(-50%);
}
.clients_item:hover img
{
	-webkit-filter: brightness(100%) grayscale(0%);
	filter: brightness(100%) grayscale(0%);
}
.owl-carousel .owl-item img
{
	width:40% !important;
    border: 1px solid #ffa800;
}


/*********************************
11. Footer
*********************************/




/*     product          */
.product
{
	padding-top: 50px;
	padding-bottom:30px;
	background:white;
}
.section_title_container
{
	width: 100%;
}
.section_title
{
	font-family: 'gill', sans-serif !important;
    font-size: 33px;
    color: #0d50a2;
    font-weight: bold;
}
.section_subtitle
{
	position: relative;
	font-family: 'gill', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffa800;
	padding-top: 30px;
}
.section_subtitle::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 68px;
	height: 3px;
	background: #ffa800;
	content: '';
}
.product_row
{
	margin-top: 10px;
}
.product_image
{
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.info_image img
{
	max-width: 100%;
}
.product_title
{
	font-family: 'gill', sans-serif;
	font-size: 28px;
	color: #0d50a2;
	margin-top: 11px;
}
.product_text
{
	margin-top: 32px;
}
.product_text p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
6. Intro
*********************************/

.intro
{
/*	padding-top: 120px;*/
/*	padding-bottom: 110px;*/
	 background: white;
    margin-top: 12%;
}
.intro_image
{
	max-width: 80%;

	margin-right: 66px;
}
.intro_image img
{
	max-width: 100%;
}
.intro_title
{
	
    font-family: 'gill', sans-serif;
    color: #0d50a2;
    margin-top: -1px;
    font-size: 38px;
}
.intro_subtitle
{
	font-family: 'gill', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #a5a5a5;
	padding-left: 6px;
	padding-top: 30px;
}
.intro_subtitle::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 5px;
	width: 68px;
	height: 3px;
	background: #ffa800;
	content: '';
}
.intro_text
{
	margin-top: 15px;
    text-align: justify;
}
.intro_text p:last-of-type
{
	margin-bottom: 0;
}
.intro_button
{
	margin-top: 39px;
}


.intro_content{
   
}

/*********************************
8.slider
*********************************/

.test_faq
{
	width: 100%;
	padding-top: 110px;
	padding-bottom: 110px;
	background: #FFFFFF;
}


/*hover*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
figure.snip1281 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
/*  min-width: 230px;*/
  max-width: 280px;
/*  max-height: 280px;*/
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
figure.snip1281 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1281 img {
/*  opacity: 0.7;*/
  max-width: 100%;
}
figure.snip1281:after {
  background: #000000;
  width: 0;
  height: 6px;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1281 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip1281 h2,
figure.snip1281 span {
  margin: 0;
  width: 100%;
}
figure.snip1281 h2 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1281 span {
  color: #e6e6e6;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1281 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1281.blue:after {
  background-color: #2980b9;
}
figure.snip1281.blue span {
  color: #409ad5;
}
figure.snip1281.red:after {
  background-color: #c0392b;
}
figure.snip1281.red span {
  color: #d65548;
}
figure.snip1281.yellow:after {
  background-color: #f39c12;
}
figure.snip1281.yellow span {
  color: #f5b043;
}
figure.snip1281.green:after {
  background-color: #27ae60;
}
figure.snip1281.green span {
  color: #36d278;
}
figure.snip1281:hover img,
figure.snip1281.hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
figure.snip1281:hover:after,
figure.snip1281.hover:after {
  width: 100%;
}
h3{
    background-color: #ffa800;
    margin-top: 258px;
    text-align: center;
    padding: 5px;
    color: white;
}

.bero{
/*    margin-left: 32px;*/
    margin-top: 7%;
    
}

.fa{
    color:#ffa800;
}

a{
   color: #0d50a2;
}

/*side*/
.mb-0 > a {
  display: block;
  position: relative;
    color:white;
    font-size: 20px;
      font-family: serif;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
     color:white;
    
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
    
     color:white;
}

#accordion{
/*    margin-top: 5%;*/
/*    margin-left: 3%;*/
}
.card{
   
    width:74%;
}

h2{
   
    color: #ffa800;
    font-size: 35px;
    font-weight: bold;
   font-family: 'gill', sans-serif !important;
    margin-left: 3%;
}
.card-header{
    background-color: #0d50a2;
}

/*slide*/
.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
/*    height: 50px;*/
    overflow: hidden;
    display: block;
  
}


.carousel-thumbnails .carousel-indicators li {
    height: auto;
  width: 100%;
    border: none;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
	
.carousel{
    margin-top: 5%;
    
}
.one{
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
   
    background-color: #17437b;
}

.two{
    background-image: url(../images/p1.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
   
    background-color: #17437b;
}

.three{
    background-image: url(../images/p2.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
   max-width: 100%;
     background-color: black;
  
}


.carousel-indicators li::after {
    
    background:#ffa800;
}

.carousel-indicators {
    position: absolute;
    bottom: -7px !important;
   
   
}
.carousel-indicators li {
    margin-left: 30px !important;
}

control-prev {
    color: #ffa800;
   
 
}
.carousel-indicators .active {
    background-color: #17437b;
}